@import "../styles/design_tokens.scss";

.container {
  @include text-base-500;
  // (button height- text height)/2
  // (56-24)/2 for top & padding
  padding: 1rem 5rem;
  border: none;
  display: inline;
  text-decoration:none;
}

.container:hover {
  filter: brightness(96%);
}

.container:active {
  filter: brightness(90%);
}

.variant1 {
  color: var(--button-text);
  background-color: var(--button);
}

.variant2 {
  color: var(--paragraph);
  background-color: var(--button2);
}
