@import "../styles/design_tokens.scss";

.templateContainer {
  width: 100%;
}

.templateTitle {
  display: inline-block;
  @include text-base;
  color: var(--gray2);
  // (40 - 24) / 2
  padding: 0.5rem 0;
}

.templateGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  @include text-2xl;
  color: var(--paragraph);
}
